<!DOCTYPE html>
<html>
<head>
    <title>Edit Answers</title>
</head>
<body>
    <h1>Answers for "<%= Question.find(raw(params[:question_id])).question %>"
    <a href=<%= "/survey/" << params[:survey_id] << "/question/" << params[:question_id] << "/answer/new" %>><button input="button">Add New Answer</button></a>
    <a href=<%= "/survey/" << params[:survey_id] << "/question" %>><button input="button">Back</button></a></h1>
    <% for a in @answers %>
        <p><%= raw(a.position) << ". " << a.option %> <a href= <%= "/survey/" << raw(params[:survey_id]) << "/question/" << raw(params[:question_id]) << "/answer/" << raw(a.id) << "/edit" %>><button input="button"> Edit </button></a></p>
    <% end %>
    
</body>
</html>